@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

/* common CSS */
.gradient-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/*=================navbar================= */

nav{
    padding:20px 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;    

}
.web-title{
    display: flex;
    align-items: center;
}  
.web-title h3{
    font-size: 2rem;
    margin-left: 15px;
}
.web-title img{
    height: 30px;
}  
.nav-link ul{
    display: flex;
    align-items: center;
}
.nav-link li{
    list-style: none;
    margin-left: 20px;
}
.nav-link a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.nav-link a:hover{
    color: #4EC5F7;
    font-weight: 500;
}
.follow-button{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #E7E6E9;
    padding: 10px 15px;
    border-radius: 5px;
}
.follow-button img{
    transform: scale(0.7);
}
