@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

/* common CSS */
.gradient-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/*=================navbar================= */

nav{
    padding:20px 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;    

}
.web-title{
    display: flex;
    align-items: center;
}  
.web-title h3{
    font-size: 2rem;
    margin-left: 15px;
}
.web-title img{
    height: 30px;
}  
.nav-link ul{
    display: flex;
    align-items: center;
}
.nav-link li{
    list-style: none;
    margin-left: 20px;
}
.nav-link a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.nav-link a:hover{
    color: #4EC5F7;
    font-weight: 500;
}
.follow-button{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #E7E6E9;
    padding: 10px 15px;
    border-radius: 5px;
}
.follow-button img{
    transform: scale(0.7);
}

/* <!-- ===================Top banner=================== --> */

.top-banner-container{
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size:52%;
}
.top-banner, .top-banner2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    
}
.top-banner-img{
    width: 50%;
}
.banner-texts h3{
    font-size: 2.5rem;
}
.banner-texts h1{
    font-size: 5rem;
    margin-bottom: 20px;
}
.banner-text-img{
    display:flex;
    align-items: center;
    gap: 10px;
}
.banner-text-img p{
    font-size: 1.15rem;
}
.banner-text-img {
    margin:10px 0px;
}
.banner-button{
    margin-top: 30px;
}

.primary-button{
    border: none;
    background-color:#F948B2 ;
    padding: 12px 35px;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.blue-button{
    background-color:#4EC5F7 ;
    margin-left: 10px;
}

/* ============================================== */
.top-banner-container2{
    background-color: #FBF6FC;
}
.top-banner2{
    padding: 100px 0;
}
.banner2-p{
    text-align: justify;
    margin: 20px 0;
}
.banner2-p2{
    font-size: 1.5rem;
    margin: 20px 0;
}

